.blur{
    position: fixed;
    z-index: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom right,#000000,#00524e);
    overflow: hidden;
  }
.blur::before{
    content: "";
    position: absolute;
    width:600px;
    height:600px;
    background:linear-gradient(90deg,#397453,#2f2591);
    border-radius:50px;
    left:-10%; 
    top:-20%;   
    filter: blur(90px);
    animation: float 4s ease-in-out infinite alternate;
    z-index: 0;
  }
 .blur::after{
    content: "";
    position: absolute;
    width:80vw;
    height:80vh;
    background:linear-gradient(90deg,#0a8f46,#2f2591);
    border-radius:50%;
    right:-10%; 
    bottom:-20%;
    filter: blur(90px);  
    animation: float 8s ease-in-out infinite alternate;
    z-index: 0;
  }
  
  @keyframes float {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-40px, 200px);
    }
  }