/* top_nav */

#wrapper {
  min-width: 360px;
}


/* 썸네일 */
#thumbnail {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    animation: fadeOut 5s forwards;
  }
  #thumbnail h1{
    color: rgb(255, 255, 255);
    position: fixed;
    top: 45%;
    left: 48%;
    width: 50px;
    text-align: center;
    font-size: 24px;
    animation: logo 5s ease;
  }
  /* 썸네일 로고방향으로 */
  @keyframes logo{
    0%{
        top: 45%;
        left: 48%;
          text-shadow: 
          0px 0px 40px #00ffaa,
          0px 10px 40px #00aeff,
          0px -10px 60px #ffffff,
          0px 0px 80px #ffffff;
        
    }
    40%{
        top: 45%;
        left: 48%;
    }
    100%{
      text-shadow: 
      0px 0px 80px #00ffaa,
      0px 10px 80px #00aeff,
      0px -10px 80px #ffffff,
      0px 0px 80px #ffffff;
        top: 1%;
        left: 1%;

    }
  }
  /* 사이트 접속시 썸네일 */
  @keyframes fadeOut {
    0% {
      z-index:999;
      opacity: 1;
    }
    50%{
      background: #000;
    }
    70%{
      opacity: 1;
      
    }
    80%{
      background: #5dc7ac;
    }
    90%{
      background: #ff0000;
    }
    100% {
      opacity: 0;
      display: none;
      z-index:9999;
      pointer-events: none;
    }
  }


  
* {
    margin: 0;
    padding: 0;
    color: aliceblue;
  }

  /* 헤더 */
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0000008e;
    color: #ffffff;
    z-index: 9999;
  }

  /* 헤더 로고 */
  .logo {
    margin: 0;
    backdrop-filter: blur(10px);
  }
  .logo a {
    text-align: center;
    display: inline-block;
    width: 100px;
    height: 100px;
    /* background: #000000; */
    line-height: 50px;
  }
  .logo:hover h1{
    color: #deeeff;
    background: #000000;
    font-weight: bold;
    transition: 0.3s ease-in-out;
    text-shadow: 0px -3px 5px #00F260,0px -3px 10px #0575E6;
  }
  /* 헤더 메뉴 */

  .mobile_btn {
    transition: all 0.3s ease-in-out;
    position: fixed;
    top: 25px;
    right: 20px;
    z-index: 999;
  }

  /* 햄버거버튼 ==================*/
  input[id="hamburger"] {
    transition: 0.3s;
    display: none;
  }

  input[id="hamburger"] + label {
    display: block;
    width: 60px;
    height: 40px;
    position: relative;
    cursor: pointer;
  }

  input[id="hamburger"] + label span {
    display: block;
    position: absolute;
    width: 100%;
    height: 7px;
    border-radius: 30px;
    background: #ffffff;
    transition: all 0.3s;
  }

  input[id="hamburger"] + label span:nth-child(1) {
    top: 0;
  }
  input[id="hamburger"] + label span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  input[id="hamburger"] + label span:nth-child(3) {
    bottom: 0;
  }

  /* 햄버거 애니메이션 ==================*/

  input[id="hamburger"]:checked + label {
    z-index: 99;
  }


  input[id="hamburger"]:checked + label span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }
  input[id="hamburger"]:checked + label span:nth-child(2) {
    opacity: 0;
  }
  input[id="hamburger"]:checked + label span:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
  }

  input[id="hamburger"]:checked + label + div {
    top: 0%;
  }
  div[class="top_nav"] {
    width: 100%;
    position: fixed;
    left: 0%;
    top: -100%;
    z-index: 1;
    transition: all 0.7s;
  }

  .nav_mobile {
    position: absolute;
    top: 100px;
    width: 100%;
    backdrop-filter: blur(10px);
  }
  .top_nav .nav_mobile li {
    color: rgb(255, 255, 255);
    position: relative;
    width: 100%;
    list-style-type: none;
    font-size: 20px;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }
  .top_nav li a {
    background: #00000088;
    color: aliceblue;
    height: 80px;
    display: block;
    line-height: 80px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    transition: all 0.4s;
  }
  

  /*푸터 */
  footer {
    position: static;
    bottom: 0;
    width: 100%;
    padding: 100px 0;
    text-align: center;
    line-height: 30px;
    background: #00000094;
  }
  .top_pc {
    display: none;
  }



  
  /* PC화면 */
  @media all and (min-width: 480px) {
    header {
      position: static;
     
    }
    input[id="hamburger"] + label    {
      display: none;
    }
    .mobile_btn{
      display: none;
    }
    header .logo{
      width: 100px;
    }
    
    .top_pc{
      display: flex;
      justify-content: space-between;
      position: absolute;
      /* background: #ff0000; */
      width: 70%;
      height: 100px;
      top: 0;
      right: 0;
      font-size: 1rem;
      text-align: center;
    }



    .artist_menu a,.info_menu a{
      color: white;
    }
    
   
    .top_pc ul li {
      display: block;
      border-bottom: 1px solid #ccc;
    }

    .top_pc>a{
      line-height: 100px;
      display: inline-block;
      color: aliceblue;
      transition: 0.1s ;
      width: 100%;
     
    }
    .top_pc>a:hover{
      border-bottom:3px solid #deeeff;
    }
    /* PC 로그인 버튼 */
    .top_pc>a:last-child{
      overflow: hidden;
      font-size: 12px;
      text-align: center;
      margin: auto 0;
      margin-right: 10px;
      line-height: 40px;
      border: 1px solid white;
      border-radius: 30px;
    }
    .top_pc>a:last-child:hover{
      background: rgb(255, 255, 255);
      color: #f00084;
    animation: glow 30s infinite ;
    font-size: 12px;
    }
    @keyframes glow {
     10% {
        box-shadow: 0 -10px 20px #00F260, 0 -10px 18px #0575E6;
        box-shadow: 5px -7px 17px #00F260, 0 -10px 31px #0575E6;
      }
      30% {
        box-shadow: 4px 0 20px #00F260, 16px 12px 30px #0575E6;
        box-shadow: 0 0px 30px #00F260, 10px 5px 20px #0575E6;
      }
     50% {
        box-shadow: 0 -12px 30px #00F260, 4px -10px 20px #0575E6;
        box-shadow: 6px -3px 20px #00F260, 20px -10px 30px #0575E6;
      }
      70% {
        box-shadow: 5px -5px 30px #00F260, 0 -8px 20px #0575E6;
        box-shadow: 1px -6px 21px #00F260, 7px -15px 40px #0575E6;
      }
      100%{
        box-shadow: 2px -7px 30px #00F260, 2px -20px 20px #0575E6;
        box-shadow: 8px -6px 20px #00F260, 5px -2px 20px #0575E6;
      }
    }
    .dropbtn {
      text-align: center;
      line-height: 100px;
      cursor: pointer;
      color: aliceblue;
        transition: 0.3s ;
        height: 100px;
    }
    a.dropbtn{
      width: 100%;
      height: 100%;
    }
    
    .dropdown {
      width: 100%;
      position: relative;
      display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      min-width: 100%;
      z-index: 1;
    }
    
    .dropdown-content a {
      height: 60px;
      width: 100%;
      line-height: 60px;
      text-decoration: none;
      display: block;
      margin: 0 auto;

    }
    
    .dropdown-content a:hover {background-color: #ffffff;
    transition: 0.3s ease-in-out;
    color: #000;
 }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
    


}