/*** FAQ/Q&A 페이지 CSS ***/

section{
    margin: 100px auto;
}
/* FAQ/Q&A 페이지 부모상자 */
.board {
    width: 90%;
    margin: 0 auto;
   
    
}


/* FAQ/Q&A 탭메뉴 */

.board_tap {
    font-size: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.board_tap li {
    text-align: center;
    margin: 2rem 0;
    font-size: 2.5rem;
    display: inline-block;
    margin: 0 30px;
    position: relative;
}

.board_tap li:first-child:after {
    content: "";
    width: 1px;
    height: 25px;
    background-color: #ffffff;
    position: absolute;
    top: 10px;
    bottom: 0;
    margin: 0 35px;
}


/** FAQ 페이지 CSS **/


/*아코디언 기본값 - 답변 숨겨진 상태*/

.faqbox_question li .answer {
    display: none;
  }


/* FAQ 페이지 부모상자 */
.faqbox {
    width: 80%;
    margin: 0 auto;
}

/* FAQ 공통 부분 */

.faqbox span {
    margin-left: 10px;
    line-height: 23px;
    color: #343131;

}


.question{
    background-color: rgb(253, 253, 253);
    color: #343131;
    width: 100%;
    cursor: pointer;
    padding: 20px;
    text-align: left;
    outline: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    
}



.answer{
    background-color: rgb(199, 200, 197);
    width: 100%;
    cursor: pointer;
    padding: 20px;
    text-align: left;
    outline: none;
    border-radius: 5px;
    margin-bottom: 2px;
}

.question>b,
.answer>b {
    font-size: large;
    color: #343131;
}

.faqbox_q1>h1,
.faqbox_q2>h1, 
.faqbox_q3>h1 

{
    font-size: 25px;
    margin: 30px 0;
}



/** Q&A 페이지 CSS **/


/* Q&A 페이지 부모상자 */
/* 처음 출력되는 페이지는 FAQ 페이지이므로 Q&A 페이지는 안보이게 설정 */
.qnabox {
    display: none;
}

/* Q&A 게시판 */

.qnabox_list {
    width: 100%;
    
}

.qnabox_list div {
    border-bottom: 1px solid rgb(160, 157, 157);
}

.qnabox_list div:first-child{
    border-top: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
    font-weight: 600;
}




.qnabox_list li {
    display: inline-block;
    text-align: center;
    padding: 13px 0;
   
}



/* 게시판 메뉴별 너비 설정 - 모바일 버전일때는 제목과 작성일만 보이게 */

.qnabox_list li.title {
    width: 70%;
}

.qnabox_list li.date {
    width: 20%;
}

.qnabox_list li.num,
.qnabox_list li.writer,
.qnabox_list li.counter {
    display: none;
}

/*게시판 글자색*/
.qnabox_list li.title>a{
    color: white;
}


/* 게시판 제목 hover*/
.qnabox_list li.title>a:hover {
    cursor: pointer;
}


/* Q&A 게시판 하단 페이지 버튼 */

.qnabox_page {
    text-align: center;
    margin-top: 30px;
}

.qnabox_page li {
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 17px;
    
}


.qnabox_page li>a {
    padding: 8px 8px;
    transition: background-color .3s;
    color: white;
}



.qnabox_page li:hover {
    
    background: #ffffff;
    font-weight: bold;
    transition: 0.1s ease-in-out;
    border-radius:50px;
   
}
.qnabox_page li>a:hover{
    color: #000000;
}

/* Q&A 게시판 하단 글쓰기 버튼 */

.qnabox_btn {
    position: relative
}

.qnabox_btn_box {
    position: absolute;
    right: 20px;
}


.qnabox_btn input {
    width: 200px;
    height: 30px;
    margin: 5px 3px;
}




.qnabox_btn a {
    display: inline-block;
    font-size: 17px;
    margin: 2px 0;
    padding: 7px;
    text-align: center;
    border: 1px solid rgb(178, 172, 172);
    border-radius: 5px;
    color: white;
}

.qnabox_btn a:hover{
    color:rgb(235, 56, 56);
    background-color: aliceblue;
}

/*** PC 버전 크기일때 ***/

@media all and (min-width:768px) {
    

    .qnabox_list li.num,
    .qnabox_list li.writer,
    .qnabox_list li.counter {
        display: inline-block;
    }

    /* 게시판 메뉴별 너비 설정 - PC 버전일때는 모두 보이게 */

    .qnabox_list li.num {
        width: 8%;
    }

    .qnabox_list li.title {
        width: 60%;
    }

    .qnabox_list li.writer {
        width: 10%;
    }

    .qnabox_list li.date {
        width: 10%;
    }

    .qnabox_list li.counter {
        width: 8%;
    }

    /* PC버전일때는 아코디언 메뉴가 모두 펼쳐진 상태를 출력하기 위하여 설정*/
    .answer {
        display: block;
    }

}