/*** MAP 페이지 CSS ***/



/* MAP 페이지 부모상자 */
.map {
    margin:0 auto;
    margin-top: 300px;
    width: 90%;
    min-width: 360px;
    text-align: center;
    /* background-color: rgb(198, 241, 241); 지울 부분 */
}

/* MAP 페이지 큰제목 */
.map>h1 {
    margin-bottom: 50px;
    font-size: 3.0rem;
    padding: 10px 0;
}

.map_wrap {
    border: 1px solid rgb(255, 255, 255); /* 지울 부분 */
    /* width: 100%; */
    /* text-align: center; */
    margin: 50px auto;
    /* position: relative; */
}



/* 전체 공통 부분 */

li.subway,
li.bus,
li.car {
    display: flex;
    /* background-color: antiquewhite;  */
    
}


li.subway>div,
li.bus>div,
li.car>div {
    text-align: start;
    margin-top: 10px;
    /* background-color: rgb(183, 199, 106); 지울 부분 */
}

li.subway>div>strong,
li.bus>div>strong,
li.car>div>strong {
font-size: 20px;
margin-left: 10px;

}


li.subway ul,
li.bus ul,
li.car ul {
    margin-top: 20px;
    border-bottom: 1px solid black;
    color: black;
}



li.subway ul>li,
li.bus ul>li,
li.car ul>li {
   padding: 10px;
   color: black;
}

.map_right strong{
  
   color: black;
}




li.subway img,
li.bus img,
li.car img {
    width: 40px;
    height: 40px;
    margin: 10px 20px;
    background-color: #00cdac;
    
}



/* MAP 오시는길 안내 왼쪽(지도+주소) 공통 부분 */

.map_left {
    border: 1px solid rgb(129, 129, 129);
    
}




.map_left_address>h3 {
    margin: 10px 0;
    color: black;
    
}

.map_left_address b {
    margin-right: 10px;
    color: black;
}

.map_left_address p {
    margin: 10px auto;
    color: black;
}

/* MAP 오시는길 안내 오른쪽(오는 방법) 내용 공통 부분 */

.map_right {
    width: 90%;
    margin: 10px auto;
  
    /* background-color: rgb(245, 243, 247); */
}

.map_right>h3,
.map_right>p {
    margin: 20px 0;
}

/* 오른쪽 오시는길 안내 배경색 구분*/

.map_green { 
    background-color: #d2f7d6;
    backdrop-filter: blur(15px);
   
}


.map_blue { 
    background-color: #bfcbf3;
    backdrop-filter: blur(15px);
    }



/* MAP 페이지 지도 폴라로이드 효과 적용*/

.map_left>.polaroid
{
    position: relative;
    display: inline-block;
    margin: 20px auto;
    background-color: #fff;
    width: 90%;
    box-shadow: 0 0 10px rgba(194, 187, 187, 0.3);
    height: 500px;}

.polaroid iframe{
        position: absolute;
        left: 50%; transform: translate( -50%);
        width: 90%;
        height: 70%;
        top: 7%;
        border: none;  
    }

    
    
    
.map_left_address
{  position: absolute;
        left: 50%; transform: translate( -50%);
        bottom: 0;
        width: 90%;
        height: 20%;
        border: 1px solid black;
    
    }    


/* MAP 페이지 Green 공연장 오시는길 안내 */


.map_green {
    
    /* background-color: rgba(254, 254, 254, 0.918);  */
    
    border: 3px solid rgba(210, 248, 210, 0.918);
   
    /* ,2px 2px 100px #00cdac; */
}




/* MAP 페이지 BLUE 공연장 오시는길 안내 */

.map_blue {
    margin-top: 20px;
    /* background-color: rgba(244, 248, 250, 0.918);  */
    
    border: 3px solid rgba(148, 203, 231, 0.918);
   
}


/* 글씨 효과 */

/* MAP 탭메뉴 */
.map_tap {
    font-size: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.map_tap li {
    text-align: center;
    margin: 2rem 0;
    font-size: 2.5rem;
    color: black;
    display: inline-block;
    margin: 0 10px;
    position: relative;
}

.map_tap li:first-child:after {
    content: "";
    width: 1px;
    height: 25px;
    background-color: #ffffff;
    position: absolute;
    top: 10px;
    bottom: 0;
    margin: 0 15px;
}

.map_tap li {
    animation: flicker 1s infinite;
  }
  
  .map_tap .gtap {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #02aab0, 0 0 30px #02aab0, 0 0 40px #02aab0, 0 0 55px #00cdac, 0 0 75px #00cdac;
  }
  
  .map_tap .btap {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #36d1dc, 0 0 30px #36d1dc, 0 0 40px #5b86e5, 0 0 55px #5b86e5, 0 0 75px #5b86e5;
  }
  
  @keyframes flicker {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  
  





/* .map_tap li.gtap>h1{
    animation: blink 2s infinite;
    text-shadow: 2px 2px 100px #02aab0;
}


@keyframes blink  {
    0%{ text-shadow: none;}
    50%{ text-shadow: 
        
        2px 2px 100px #00cdac;}
    100%{ text-shadow: 
         2px 2px 100px #02aab0
        ;}
    
}



.map_tap li.btap>h1{
    text-shadow: 2px 2px 100px #2980b9;
    animation: blink 1s infinite;

}

@keyframes blink  {
    25%{ text-shadow: 
       
        2px 2px 100px #6dd5fa;}
    


    75%{ text-shadow: 
        2px 2px 100px #02aab0
       ;}
    
}


 */




/* 구분선 */

hr.divider{
    width: 80%;
    margin: 50px auto;
    background-color: #fff;
}

/* 지도 안내 밑 사진 추가 */

.map_img{
    display: flex;
    justify-content: center;

}
.map_img>img{

    width: 100px; height: 100px;
}





/*** PC 버전 크기일때 ***/

@media all and (min-width:960px) {
    section {
        width: 960px;
        margin: 0 auto;
    }

    .map_green,
    .map_blue {
        display: flex;

    }

    .map_right,
    .map_left {
        width: 50%;
        margin: 5px;
    }


}