.map {
    margin: 50px auto;
    width: 80%;
    min-width: 360px;
    text-align: center;
    background-color: rgb(198, 241, 241);
}

.map>h1 {
    /* margin: 2px 0; */
    font-size: 3.0rem;
    padding: 10px 0;
}

.map_wrap {

    background-color: rgb(226, 165, 73);
    /* width: 100%; */
    /* text-align: center; */
    margin: 50px auto;
    /* position: relative; */
}

.map_green {

    /* position: absolute; */

    background-color: rgba(214, 214, 11, 0.918);
}

.map_blue {

    margin-top: 20px;

    background-color: rgba(148, 231, 159, 0.918);
}


.map_right {
    width: 90%;
    margin: 10px auto;
    background-color: rgb(206, 178, 233);
}

.map_right>h3,
.map_right>p {
    margin: 20px 0;
}

li.subway,
li.bus,
li.car {
    display: flex;
    /* background-color: antiquewhite;  */
}

.map_left {
    border: 1px solid rgb(129, 129, 129);
}

.map_left>iframe {
    margin-bottom: 10px;
    border: none;
    width: 80%;
    height: 300px;
}

.map_left_address {
    padding: 10px;
}

.map_left_address>h3 {
    margin: 10px 0;
}

.map_left_address b {
    margin-right: 10px;
}

.map_left_address p {
    margin: 10px auto;
}


li.subway ul,
li.bus ul,
li.car ul {
    margin-top: 20px;
}


li.subway ul>li,
li.bus ul>li,
li.car ul>li {
    margin-left: 10px;

}



li.subway img,
li.bus img,
li.car img {

    width: 40px;
    height: 40px;
    margin: 50px 20px;

}

li.subway>div,
li.bus>div,
li.car>div {

    text-align: start;
    margin-top: 10px;
    background-color: rgb(156, 198, 235);
}



/* 크기 변경 */

@media all and (min-width:960px) {
    section {
        width: 960px;
        margin: 0 auto;
    }

    .map_green,
    .map_blue {
        display: flex;

    }

    .map_right,
    .map_left {
        width: 50%;
    }




}