/*** 1:1 문의 페이지 CSS ***/


/* 1:1 문의 페이지 부모상자 */

.qna_writebox {
width: 80%;
/* background-color: aqua; 지울 부분 */
margin: 0 auto;
}

/* 1:1 문의 페이지 큰제목 */
.qna_writebox >h1{
margin: 40px auto;
text-align: center;
font-size: 3.0rem;
}

/* 1:1 문의 게시글 내용 */

.qna_write_title,
.qna_write_writer,
.qna_write_pwd,
.qna_write_pwd_check
/* .qna_write_page */
{
height: 60px;
line-height: 60px;
border-bottom: 1px solid rgb(126, 121, 121);
/* background-color: beige; */
}

form{
    border: 5px solid white;
    color: white;
}

form label{

display: inline-block;
width: 150px;
margin: 8px auto;
margin-left: 10px;
font-weight: bold;
font-size: 20px;
color: rgb(255, 255, 255);
/* line-height: 10px ; */
}



.qna_write_title>#title,
.qna_write_writer>#writer,
.qna_write_pwd>#password,
.qna_write_pwd_check>#password_check
{
display: block;
width: 80%;
color: rgb(0, 0, 0);
height: 40px;
margin: 10px auto;
border: 1px solid rgb(126, 121, 121);
}




.qna_write_page>#page{
display: block;
width: 90%;
height: 150px;
margin: 10px auto;
color: rgb(9, 9, 9);
border: 1px solid rgb(126, 121, 121);
}


.qna_write_pwd_check #message
{
    color: rgb(255, 0, 0);
    font-size: 15px;
    /* padding: 1px; */
    text-align: center;
    transform: translate( 20px);
    /*메세지 위치 맞추기 */
    visibility: hidden; 
    bottom:-4px;
}





/* 1:1 문의 게시글 등록/취소 버튼 */


.qna_write_btn,
.qna_write_btn>a {
width: 100%;
height: 50px;
text-align: center;
}

.qna_write_btn button,
.qna_write_btn input 
{
width: 60px;
height: 40px;
text-align: center;
margin: 0 10px;
border: 1px solid rgb(255, 255, 255);
border-radius: 5px;
color: rgb(255, 255, 255);
font-size: 15px;
background: none;
}



.qna_write_btn button:hover{
    color:rgb(235, 56, 56);
    background-color: aliceblue;
  }

.qna_write_btn input[type="button"]:hover{
    color:rgb(235, 56, 56);
    background-color: aliceblue;
  }



/*label 정렬 맞추기 위함*/
@media all and (min-width:480px) {

form label{
  
    line-height: 40px;}



.qna_write_title>#title,
.qna_write_writer>#writer,
.qna_write_pwd>#password,
.qna_write_pwd_check>#password_check

{
display: inline;
box-sizing: border-box;
width: 50%;
height: 40px;
margin: 10px auto;
border: 1px solid rgb(126, 121, 121);

}


}




/*** PC 버전 크기일때 ***/

@media all and (min-width:960px) {
section {
    width: 960px;
    /* margin: 0 auto; */
}

.qna_write_pwd_check #message
{
    text-align: center;
    transform: translate( -3%);
    /*메세지 위치 맞추기 */
} 



form label{
  
    margin-left: 30px;}


}

