*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
padding-top: 125px;
  /* color: aliceblue; */
margin: 0;
}
.container{
  /* background: #ff3a3a; */
  width: 100%;
  /* background-color: #979797; */
  border: 1px solid aliceblue;
  /* overflow:auto; */
  
}
.container h1{
  width: 250px;
  height: 1 0px;
  font-size: 30px;
  color: aliceblue;
  line-height: 50px;
  /* background: #ff6600; */
  text-align: center;
  margin:0 auto;
  margin-top: 50px;
  
}
form{
  width: 100%;
  margin: 0 auto;
  margin-left: 0px;
  /* background: #c8ff00; */
  height: 660px;
  text-align: center;
}
form label{
  text-align: left;
  display: inline-block;
  width: 70%;
  margin-top: 20px;
  color:aliceblue;
}

label>input{
  display: inline-block;
  margin-top: 12px;
}

#select{
  color: black;
  float: right;
  
}

label .spans{
  transform: translateY(100%);
  
}

form label:nth-child(1) input{
  width: 100%;
  
}

form label:nth-child(4) input{
  width: 100%;
  /* display: inline-block; */
}

form label:nth-child(5) input{
  width: 44.9%;
}

form label:nth-child(6) input {
 
  margin-inline: 0px;
  margin-left: 0px;
  width: 24.1%;
  height: 30px;
}

form input{
  font-size: 1.0rem;
  height: 30px;
  line-height: 30px;
  border-radius: 3px;
  color: black;
}

form div{
  margin-top: 25px;
  display: flex;
  line-height: 40px;
  justify-content: space-evenly;
}

.aa {
  width: 30%;
  height: 30px;
  text-align: center;
  line-height: 30px;

}

/* 구독, 수신 [체크박스] */
div.checkbox1{
  /* background-color: blueviolet; */
  margin-inline: 25.2px;
}

.checkbox1 label{
  width: 60%;
  margin-top: -15px;
  text-align: center;
  margin-inline: -20px;
  font-size: 0.9rem;
}

form input[type=checkbox]{
  appearance:auto;
  display: none;
  /* background-color: #979797; */
}

.checkbox1 input[type="checkbox"] {
   display:none;

}

.checkbox1 input[type="checkbox"] + label {
  color:#f2f2f2;
  height: 50px;
  
}

.checkbox1 input[type="checkbox"] + label span {
display:inline-block;
width:19px;
height:19px;
margin:0px 3px 0 3px;
vertical-align:middle;
background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) left top no-repeat ;
cursor:pointer;
}

.checkbox1 input[type="checkbox"]:checked + label span {
background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -19px top no-repeat;
}

label span{
display: inline-block;

}

/* 약관동의 */
/* .agree .all_agree input[type="checkbox"]{
display: none;
}

.agree .all_agree input[type="checkbox"] + label {
  display: inline-block;
  width: 17px;
  height: 17px;
  background-color: #fa3062;
  cursor: pointer;
  border-radius: 3px;
  float: right;
}

.agree .all_agree:after {
  display: block;
  clear: both;
  content: "";
}

.agree .all_agree input[type="checkbox"]:checked + label {
  background: url(./images/checkbox/checkbox-g1ee0c01c9_640.png) #fa3062 no-repeat center/10px 10px;
  float: right;
}

.agree .all_agree input[type="checkbox"] + label span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  font-weight: bold;
}

.agree ul{
  margin-top: 10px;
}

.agree ul li {
  margin-bottom: 15px;
}

.agree ul li:after{
  display: block;
  clear: both;
  content: "";
}

.agree ul li input[type="checkbox"]{
  display: none;
}

.agree ul li input[type="checkbox"] + label {
  width: 17px;
  height: 17px;
  background: #fa3062;
  cursor: pointer;
  border-radius: 3px;
  float: right;
}

.agree ul li input[type="checkbox"]:checked + label {
  background: url(./images/checkbox/checkbox-g1ee0c01c9_640.png) #fa3062 no-repeat center/10px 10px;
  float:right;
}

.agree ul li input[type="checkbox"] + label span {
  position: absolute;
  left: 0px;
  display: block;
} */

/* 로그인 버튼 */
.Btn_signup{
  background-color: none;
  background: transparent;
  text-decoration: none;
  color: bisque;
  width: 45%;
  height: 40px;
  font-size: 16px;
  border: 1px solid aliceblue;
  border-radius: 3px;
  cursor: pointer;
}

.Btn_signup:hover{
  color:rgb(235, 56, 56);
  background-color: aliceblue;
}

/* footer 부분 */
footer{
 padding: 70px;
}



/* 태블릿, pc 버젼 */
@media all and (min-width: 480px){
section{
  padding: 100px 0;
}
  .container{
  max-width: 700px;
  margin: 0 auto;
}

form{
  width: 100%;
  margin: 0 auto;
  margin-left: 0px;
  /* background: #c8ff00; */
  height: 660px;
  text-align: center;
}

form label:nth-child(4) input{
  width: 100%;
  /* display: inline-block; */
}

form label:nth-child(5) input{
  width: 47.5%;
}

form label:nth-child(6) input{
  margin-inline: 0px;
  margin-left: 0px;
  width: 23%;
  height: 30px;
}
.aa {
  width: 30%;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

label .spans{
  transform: translateY(100%);
  
}

.checkbox1 label{
  width: 15%;
  margin-top: -15px;
  margin-inline: 25.2px;
  font-size: 1rem;
}

.Btn_signup{
  background-color: none;
  background: transparent;
  text-decoration: none;
  color: bisque;
  width: 45%;
  height: 40px;
  font-size: 16px;
  border: 1px solid aliceblue;
  border-radius: 3px;
  cursor: pointer;
}
}